//Global
@import "./variables";
@import "./buttons";

//Components
@import "./components/navbar";
@import "./components/card";

@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

//Some base styling
body,
html,
button,
input,
a {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", "sans-serif";
  color: black;
}

a {
  text-decoration: none;
  transition: $transition;
  &:hover {
    color: $primary-color;
  }
}

.content {
  margin-top: 70px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
