.home {
  display: flex;
  width: 100%;
  &__sidebar {
    position: fixed;
    flex: 1;
    height: 100%;
    left: 0;
    top: 0;
    width: 300px;
    padding-top: 100px;
    background-color: #f7f7f7;
    box-shadow: 0px 0px 15px #cecece;
  }
  &__content {
    width: 100%;
    margin-left: 200px;
    display: flex;
    justify-content: center;
  }
}

.sidebar-item {
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  display: flex;
  justify-content: center;
  padding: 20px 0;
  cursor: pointer;
  &:hover {
    background-color: #ededed;
    border-right: 5px solid $primary-color;
  }
}
