.modal {
  background-color: white;
  height: 400px;
  width: 400px;
  z-index: 10;
  border-radius: $border-radius;
  flex-direction: column;
  display: flex;
  &__header {
    display: flex;
    height: 75px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
  }
  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &__footer {
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;
    padding: 5px 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
  }
}

.fa-times {
  color: #d6d6d6;
  cursor: pointer;
  transition: $transition;
  &:hover {
    color: black;
  }
}
