.navbar {
  background-color: white;
  display: flex;
  align-items: center;
  position: fixed;
  height: 75px;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  box-shadow: $box-shadow;
  &__logo {
    flex: 1;
    display: flex;
    margin-left: 88px;
  }
  &__actions {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    margin-right: 88px;
  }
}

.logo {
  height: 64px;
  width: 64px;
}
